@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        background: $main_color;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        left: -10px;
        top: -6px;
    }
}
@mixin before_line {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        background: #000;
        width: 1px;
        height: 172px;
    }
}

